#root {
  display: grid;
  grid-template-areas:
    "input input input add"
    "input input input clear"
    "list list amount amount"
    "credits credits credits credits";
  font-family: sans-serif;
  padding: 3rem;
  margin: auto;
  max-width: 500px;
  background-color: #f5f5dc;
  border: solid 1px;
  font-size: 20px;
}

.form {
  display: contents;
  font-size: 20px;
}

.clear {
  grid-area: clear;
  cursor: pointer;
}

.input {
  grid-area: input;
  font-size: 20px;
}

.button {
  font-size: 20px;
}

.amount {
  grid-area: amount;
  user-select: none;
  font-size: 20px;
}

.list {
  grid-area: list;
  display: flex;
  flex-direction: column;
}

.item {
  user-select: none;
  cursor: pointer;
}

.container-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}

.item:hover {
  color: coral;
}
